
.title {
  font-weight: 900;
  @apply text-3xl sm:text-5xl;
}
.subtitle {
  font-weight: 800;
  @apply text-2xl sm:text-3xl;
}
.paragraph {
  font-size: 14px;
  font-weight: 500;
}
.keyValueLI:nth-child(even),
.keyValueLI:nth-child(odd) {
  color: var(--color-primary-300);
  @apply sm:text-sm text-xs flex gap-1.5 items-baseline capitalize;
}
.keyValueLI:nth-child(odd) {
  color: var(--color-primary-400);
  @apply pl-1;
}
.keyValueLI:nth-child(even) .liValue,
.keyValueLI:nth-child(odd) .liValue {
  color: var(--color-primary-50);
  @apply sm:text-lg text-sm font-semibold normal-case;
}
.keyValueLI:nth-child(odd) .liValue {
  color: var(--color-primary-200);
}
